@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-secondary: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  /* width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 10rem; */
}

section.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--grey);
}

.box {
  width: 65rem;
  height: auto;
}

.main-container {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.img-container {
  width: 50%;
  height: 100%;
  padding: 4rem 1rem;
  background-color: var(--light-blue);
  animation: slide-down 0.7s ease;
}

@keyframes slide-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.img-container img {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-up 0.7s ease;
}

@keyframes slide-up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

form a {
  font-size: 1.2rem;
  text-decoration: none;
}

form span {
  font-size: 1.2rem;
  display: block;
}

.register {
  display: none;
}

.forgot {
  display: none;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-times {
  font-size: 1.2rem;
  color: var(--color-primary)
}

@media (max-width: 768px) {
  .img-container {
    display: none;
  }

  .form-container {
    width: 100%;
  }
}

