@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.count-div  {
  width: 450px;
  background-color: rgb(13, 95, 189);
  padding: 0.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  border-radius: 5px;
  color: white;
}

.count {
  font-size: 2rem;
}

.count-div > * {
  margin: 1.5rem;
}

.buttons button {
  margin: 1rem;
  padding: 0.6rem 1rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.8rem;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button.subtract {
  background-color: orangered;
}

button.reset {
  background-color: white;
  color: black;
}

button.add {
  background-color: green;
}